{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content%}
    
    <h1>Login</h1>

        <form method="post">
            <div class="container">
                <p>
                    <label for="email">Email</label>
                    <input type="email" name="email" class='form-control' id='email'></input>
                </p>
                <p>
    
                    <label for="password">Password</label>
                    <input type="password" name="password" class='form-control' id='password'></input>
    
                </p>

                <p>
                    <button type="submit">Submit</button>
                </p>
            </div>
        </form>
        

    
    <p>
        <a class="admin" href="create_admin">Create an admin account</a>
    </p>

    <div class="message">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class="flashes">
                    {% for message in messages %}
                        <div class="message_flash">{{ message }}</div>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
    </div>
    
{% endblock %}