{% extends 'base.html' %}

{% block content %}
    <h1 class="title">{% block title %} Registration {% endblock %}</h1>
    <form>
        <div class="container">
            <p>
            
                <form method="post">
                    <label for="name">Username</label>
                    <input type="text" name="name" class='form-control' id='username'></input>
            </p>
            <p>
  
                <label for="email">Email</label>
                <input type="email" name="email" class='form-control' id='email'></input>

            </p>
            <p>
                <label for="password">Password</label>
                <input type="password" name="pass" class='form-control' id='password'></input>
            </p>
            <button type="submit">Submit</button>
        </div>
    </form>
{% endblock %}