{% extends 'base.html' %}

{% block content %}
    <form method="POST">
        <div class="container">
            <p>
                <label for="username">Username</label>
                <input type="text" name="username" class='form-control' id='username'></input>
            </p>
            <p>
  
                <label for="email">Email</label>
                <input type="email" name="email" class='form-control' id='email' placeholder="Your Email"></input>
                <div class="input-group-append">
                    <span class="input-group-text">@example.com</span>
                  </div>

            </p>
            <p>
                <label for="password">Password</label>
                <input type="password" name="password" class='form-control' id='password' placeholder="Password"></input>
            </p>
            <p>
                <label for="password1">Password</label>
                <input type="password" name="password" class='form-control' id='password' placeholder="Confirm password"></input>
            </p>
            <input type="submit" class="btn btn-primary" value="Submit"/>
        </div>
    </form>
{% endblock %}